name: CD - Docker Build Café y Más

on:
  push:
    branches: ["main"]

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v3

      - name: Build imagen Docker Backend
        run: |
          cd Cafeteria_Final/Cafeteria/Cafeteria/demo
          docker build -t cafe-y-mas-backend .
