name: CD - Docker Build Café y Más

on:
  push:
    branches: ["main"]

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v4

      - name: Build Docker image (backend)
        uses: docker/build-push-action@v5
        with:
          context: Cafeteria_Final/Cafeteria/Cafeteria/demo
          file: Cafeteria_Final/Cafeteria/Cafeteria/demo/Dockerfile
          tags: cafe-y-mas-backend:latest
